# Chi-squared test

In [99]:
import pandas as pd
import numpy as np
import scipy.stats
import itertools as itools

In [100]:
#reading the data 
data = pd.read_pickle('data.pickle')

In [101]:
data.head()

,marital,age_1st_mar,age,hispanich,indian,asian,black,HAWAIIAN,WHITE,how_mar_ended,edu,ETHNICITY
0,Never Married,,23,1,2,2,2,2,1,,12.0,hispanich
1,Married,23,28,1,2,2,2,2,1,,12.0,hispanich
2,Widowed,35,81,1,2,2,2,2,1,2,8.0,hispanich
3,Never Married,,18,1,2,2,2,2,1,,12.0,hispanich
4,Married,22,36,2,2,2,1,2,2,,16.0,black

In [102]:
data.ETHNICITY.value_counts()

white        24594
hispanich     8308
black         7984
asian         1223
indian         847
hawaian        137
Name: ETHNICITY, dtype: int64

In [103]:
 list_of_vals = list(set((data.ETHNICITY.values)))

### assignment will use Chi-squared test to study the statistical significance of the relationship between ethnicity and being married or devoiced

In [104]:
a = list(itools.combinations(list_of_vals,2))
print(a)

[('black', 'asian'), ('black', 'hawaian'), ('black', 'hispanich'), ('black', 'indian'), ('black', 'white'), ('asian', 'hawaian'), ('asian', 'hispanich'), ('asian', 'indian'), ('asian', 'white'), ('hawaian', 'hispanich'), ('hawaian', 'indian'), ('hawaian', 'white'), ('hispanich', 'indian'), ('hispanich', 'white'), ('indian', 'white')]

In [105]:
sub3 = data[(data['marital'] == 'Divorced') | (data['marital'] =='Married')]
sub3 = sub3[['marital','ETHNICITY']].dropna()
sub3.head()

     marital  ETHNICITY
1    Married  hispanich
4    Married      black
5    Married      black
10  Divorced      white
11   Married      white

In [106]:
for i in a:
    the_null = ' the null hypothesis "there is no relationship between being {} or {} and being Married or devoiced"'.format(i[0],i[1])
    remap = {i[0]:i[0],i[1]:i[1]}
    sub3['new_eth']= sub3['ETHNICITY'].map(remap)
    # contingency table of observed counts
    ct2=pd.crosstab(sub3['marital'], sub3['new_eth'])
    print(ct2)
    # column percentages
    colsum=ct2.sum(axis=0)
    colpct=ct2/colsum
    print(colpct)
    #hi-square
    print ('chi-square value    , p value    , expected counts')
    cs2= scipy.stats.chi2_contingency(ct2)
    print (cs2)
    print('_______________________________________________________________')
    if scipy.stats.chi2_contingency(ct2)[1] <= 0.003:
        print (the_null)
        print ('****** reject the null hypothesis  ')
    else:
        print (the_null)
        print ('****** accept the null hypothesis ')
    print('_______________________________________________________________')
    print('_______________________________________________________________')

new_eth   asian  black
marital
Divorced     59   1158
Married     718   2537
new_eth      asian     black
marital
Divorced  0.075933  0.313396
Married   0.924067  0.686604
chi-square value    , p value    , expected counts
(181.56646604353304, 2.2049829349938586e-41, 1, array([[  211.45102862,  1005.54897138],
       [  565.54897138,  2689.45102862]]))
_______________________________________________________________
 the null hypothesis "there is no relationship between being black or asian and being Married or devoiced"
****** reject the null hypothesis
_______________________________________________________________
_______________________________________________________________
new_eth   black  hawaian
marital
Divorced   1158        9
Married    2537       61
new_eth      black   hawaian
marital
Divorced  0.313396  0.128571
Married   0.686604  0.871429
chi-square value    , p value    , expected counts
(10.124965234181996, 0.0014627441767849909, 1, array([[ 1145.30278884,    21.69721116],
       [ 2549.69721116,    48.30278884]]))
_______________________________________________________________
 the null hypothesis "there is no relationship between being black or hawaian and being Married or devoiced"
****** reject the null hypothesis
_______________________________________________________________
_______________________________________________________________
new_eth   black  hispanich
marital
Divorced   1158        811
Married    2537       4272
new_eth      black  hispanich
marital
Divorced  0.313396   0.159551
Married   0.686604   0.840449
chi-square value    , p value    , expected counts
(290.16678247470207, 4.5731553971074715e-65, 1, array([[  828.8283208,  1140.1716792],
       [ 2866.1716792,  3942.8283208]]))
_______________________________________________________________
 the null hypothesis "there is no relationship between being black or hispanich and being Married or devoiced"
****** reject the null hypothesis
_______________________________________________________________
_______________________________________________________________
new_eth   black  indian
marital
Divorced   1158     140
Married    2537     392
new_eth      black    indian
marital
Divorced  0.313396  0.263158
Married   0.686604  0.736842
chi-square value    , p value    , expected counts
(5.2826084366897055, 0.021539455632753089, 1, array([[ 1134.63685829,   163.36314171],
       [ 2560.36314171,   368.63685829]]))
_______________________________________________________________
 the null hypothesis "there is no relationship between being black or indian and being Married or devoiced"
****** accept the null hypothesis
_______________________________________________________________
_______________________________________________________________
new_eth   black  white
marital
Divorced   1158   3224
Married    2537  12789
new_eth      black     white
marital
Divorced  0.313396  0.201336
Married   0.686604  0.798664
chi-square value    , p value    , expected counts
(217.38942634305488, 3.3560730750101348e-49, 1, array([[   821.56941344,   3560.43058656],
       [  2873.43058656,  12452.56941344]]))
_______________________________________________________________
 the null hypothesis "there is no relationship between being black or white and being Married or devoiced"
****** reject the null hypothesis
_______________________________________________________________
_______________________________________________________________
new_eth   asian  hawaian
marital
Divorced     59        9
Married     718       61
new_eth      asian   hawaian
marital
Divorced  0.075933  0.128571
Married   0.924067  0.871429
chi-square value    , p value    , expected counts
(1.749522878141299, 0.185936724469833, 1, array([[  62.38016529,    5.61983471],
       [ 714.61983471,   64.38016529]]))
_______________________________________________________________
 the null hypothesis "there is no relationship between being asian or hawaian and being Married or devoiced"
****** accept the null hypothesis
_______________________________________________________________
_______________________________________________________________
new_eth   asian  hispanich
marital
Divorced     59        811
Married     718       4272
new_eth      asian  hispanich
marital
Divorced  0.075933   0.159551
Married   0.924067   0.840449
chi-square value    , p value    , expected counts
(36.616916886870314, 1.4377853232089983e-09, 1, array([[  115.35665529,   754.64334471],
       [  661.64334471,  4328.35665529]]))
_______________________________________________________________
 the null hypothesis "there is no relationship between being asian or hispanich and being Married or devoiced"
****** reject the null hypothesis
_______________________________________________________________
_______________________________________________________________
new_eth   asian  indian
marital
Divorced     59     140
Married     718     392
new_eth      asian    indian
marital
Divorced  0.075933  0.263158
Married   0.924067  0.736842
chi-square value    , p value    , expected counts
(84.420172072354362, 4.0004531079156647e-20, 1, array([[ 118.12299465,   80.87700535],
       [ 658.87700535,  451.12299465]]))
_______________________________________________________________
 the null hypothesis "there is no relationship between being asian or indian and being Married or devoiced"
****** reject the null hypothesis
_______________________________________________________________
_______________________________________________________________
new_eth   asian  white
marital
Divorced     59   3224
Married     718  12789
new_eth      asian     white
marital
Divorced  0.075933  0.201336
Married   0.924067  0.798664
chi-square value    , p value    , expected counts
(73.290354374112766, 1.1191349181253901e-17, 1, array([[   151.92918404,   3131.07081596],
       [   625.07081596,  12881.92918404]]))
_______________________________________________________________
 the null hypothesis "there is no relationship between being asian or white and being Married or devoiced"
****** reject the null hypothesis
_______________________________________________________________
_______________________________________________________________
new_eth   hawaian  hispanich
marital
Divorced        9        811
Married        61       4272
new_eth    hawaian  hispanich
marital
Divorced  0.128571   0.159551
Married   0.871429   0.840449
chi-square value    , p value    , expected counts
(0.29079907725877652, 0.58970891730805874, 1, array([[   11.13914225,   808.86085775],
       [   58.86085775,  4274.13914225]]))
_______________________________________________________________
 the null hypothesis "there is no relationship between being hawaian or hispanich and being Married or devoiced"
****** accept the null hypothesis
_______________________________________________________________
_______________________________________________________________
new_eth   hawaian  indian
marital
Divorced        9     140
Married        61     392
new_eth    hawaian    indian
marital
Divorced  0.128571  0.263158
Married   0.871429  0.736842
chi-square value    , p value    , expected counts
(5.3153094913380174, 0.021138838601279578, 1, array([[  17.3255814,  131.6744186],
       [  52.6744186,  400.3255814]]))
_______________________________________________________________
 the null hypothesis "there is no relationship between being hawaian or indian and being Married or devoiced"
****** accept the null hypothesis
_______________________________________________________________
_______________________________________________________________
new_eth   hawaian  white
marital
Divorced        9   3224
Married        61  12789
new_eth    hawaian     white
marital
Divorced  0.128571  0.201336
Married   0.871429  0.798664
chi-square value    , p value    , expected counts
(1.8668791443788362, 0.17183294337215382, 1, array([[    14.07137972,   3218.92862028],
       [    55.92862028,  12794.07137972]]))
_______________________________________________________________
 the null hypothesis "there is no relationship between being hawaian or white and being Married or devoiced"
****** accept the null hypothesis
_______________________________________________________________
_______________________________________________________________
new_eth   hispanich  indian
marital
Divorced        811     140
Married        4272     392
new_eth   hispanich    indian
marital
Divorced   0.159551  0.263158
Married    0.840449  0.736842
chi-square value    , p value    , expected counts
(36.013736529673423, 1.9593140136776394e-09, 1, array([[  860.89634907,    90.10365093],
       [ 4222.10365093,   441.89634907]]))
_______________________________________________________________
 the null hypothesis "there is no relationship between being hispanich or indian and being Married or devoiced"
****** reject the null hypothesis
_______________________________________________________________
_______________________________________________________________
new_eth   hispanich  white
marital
Divorced        811   3224
Married        4272  12789
new_eth   hispanich     white
marital
Divorced   0.159551  0.201336
Married    0.840449  0.798664
chi-square value    , p value    , expected counts
(43.27997836615279, 4.744131680945062e-11, 1, array([[   972.217719,   3062.782281],
       [  4110.782281,  12950.217719]]))
_______________________________________________________________
 the null hypothesis "there is no relationship between being hispanich or white and being Married or devoiced"
****** reject the null hypothesis
_______________________________________________________________
_______________________________________________________________
new_eth   indian  white
marital
Divorced     140   3224
Married      392  12789
new_eth     indian     white
marital
Divorced  0.263158  0.201336
Married   0.736842  0.798664
chi-square value    , p value    , expected counts
(11.769925809033447, 0.00060195377377905419, 1, array([[   108.16851012,   3255.83148988],
       [   423.83148988,  12757.16851012]]))
_______________________________________________________________
 the null hypothesis "there is no relationship between being indian or white and being Married or devoiced"
****** reject the null hypothesis
_______________________________________________________________
_______________________________________________________________